

.Home {
    display: flex;
    background-color: wheat;
    font-family: roma, sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

  h1 {
    font-size: 6em;
    margin-top: 10%;
    text-align: center;
    margin-left: 40%;
    color:black;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 2vh;
    letter-spacing: 7px;
  }

.containerHome {
  display: flex;

    /* OPTIONAL: Reverse the order of image and content */
    flex-direction: row-reverse;

    /* OPTIONAL: Spacing between items */
    margin: 20px 0;
    margin-left: 30%;
    margin-right: 20%;
}

.containerHomeIm {
  width: 400px;
  background: url('./images/Photo2.jpg') center center/cover no-repeat;
} 

.containerHomeFea {
    /* Take the remaining width */
    flex: 100;
}